<h1>Stupid Coaching</h1>

<div class="side-bar">
<p><%= params[:question] %></p>
<p><em>-You</em></p>
</div>

<div class="side-bar yellow">
<p><%= @answer %></p>
<p><em>-Your coach</em></p>
</div>

<%= link_to "Ask a new question", ask_path %>
