// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.side-bar {
  border-left: 6px solid #E1E1E1;
  padding-left: 10px;
}

.yellow{
  background: #FFFEE3;
}

body{
  margin-left: 20px;
}
